:root {
  --error: #900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: system-ui, sans-serif;
  font-size: 18px;
}

form {
  width: 300px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  appearance: none;

  width: 100%;
  outline: none;
  border-width: 2px;
  display: block;

  border-radius: 0;
  border-color: green;
}

input.invalid {
  border-color: var(--error);
}

.field {
  width: 100%;
  margin-top: 1rem;
  max-width: 300px;
}

span.error {
  display: block;
  width: 100%;
  padding: 0;

  font-size: 80%;
  background-color: var(--error);
  color: #fff;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3rem;
}

.legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.fieldset {
  border: 2px solid #000;
}

.submit-btn {
  appearance: none;

  width: 100%;
  padding: 0.5rem;
  margin: 1rem auto;

  font-size: inherit;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.submit-btn:hover {
  cursor: pointer;
  border-color: green;
  box-shadow: 0 0 2px green;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.confetti {
  text-align: center;
  font-size: 10rem;
}
